<div class="container-fluid px-lg-4 px-xl-4 py-3" style="max-width:200px;">
    <img 
        src="{{ .Site.Params.author.profile }}" 
        class="rounded-circle img-fluid" 
        alt="Hernán J. Maina">
</div>
    
<div class="container-fluid">
    <span>
        <b>{{.Site.Params.author.name}}</b>
    </span>
    <p class="small px-1 py-1">
        {{.Site.Params.author.bio}}
    </p>
    
    <p class="d-block small">
        <ion-icon name="{{.Site.Params.author.location.icon}}"></ion-icon> 
        {{.Site.Params.author.location.name}}
    </p>
</div>