<!doctype html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body data-bs-theme="light" class="section-font-light">
        <div class="container overflow-hidden">
            <div class="row vh-100 overflow-auto">
                <div class="col-12 col-lg-3 col-xl-3 px-sm-2 px-0 d-flex sticky-lg-top">
                    <div class="d-flex flex-md-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2">
                        {{- partial "sidebar/index.html" . -}}
                    </div>
                </div>
                <div id="top" class="col d-flex flex-column h-100">
                    <main class="row">
                        <div class="py-3">
                            {{- partial "menu.html" . -}}
                        </div>
                        <div class="col pt-4 px-3">
                            {{- block "main" . -}}{{- end -}}
                        </div>
                    </main>
                    <footer class="row py-4 mt-auto">
                        {{- partial "footer.html" . -}}
                    </footer>
                </div>
            </div>
        </div>
    </body>
    {{- partial "js.html" . -}}
</html>