{{/*  <p align="right">
    <b>[ </b>
    {{$pages := sort .Site.Pages ".Params.menu_pos"}}
    {{ range $i, $p := $pages }}
        {{$href := "/"}}
        {{if eq .Type "page"}}
            {{$href = (printf "/#sec-%s" $p.Title) }}
        {{else}}
            {{ $href = (printf "/%s" $p.Title) }}
        {{end}}
        {{if $p.Params.menu_name }}
            <a class="social-links" href={{ $href }}>{{$p.Params.menu_name}}</a>
            {{ if ne (add $i 1) (len $pages) }}<b>|</b>{{ end }}
        {{end}}
    {{ end }}
    <b> ]</b> 
</p>  */}}

<ul class="nav nav-tabs justify-content-end">
    {{$pages := sort .Site.Pages ".Params.menu_pos"}}
    {{ range $i, $p := $pages }}
        {{$href := "/"}}
        {{if eq .Type "page"}}
            {{$href = (printf "/#sec-%s" $p.Title) }}
        {{else}}
            {{ $href = (printf "/%s" $p.Title) }}
        {{end}}
        {{if $p.Params.menu_name }}
            <li class="nav-item">
                <a id='social-links' class="nav-link social-links-light" href={{ $href }}>{{$p.Params.menu_name}}</a>
            </li>
        {{end}}
    {{ end }}
    <li class="nav-item d-none d-lg-inline">
        {{- partial "dark_mode.html" . -}}
    </li>
</ul>