{{- define "main" -}}
<div class="container-fluid overflow-hidden" style="color:#494e52">
    <div class="row vh-100 overflow-auto">
        <div class="col-12 col-lg-3 col-xl-3 px-sm-2 px-0 d-flex sticky-lg-top">
            <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 bg-white">
                {{ partial "sidebar/s_index.html" . }}
            </div>
        </div>
        <div class="col d-flex flex-column h-100">
            <main class="row">
                <div class="col px-4 py-5">
                    {{ partial "content/c_index.html" .}}
                </div>
            </main>
            {{ partial "footer.html" .}}
        </div>
    </div>
</div>
{{- end -}}