{{/*  Imprimo titulo  */}}
{{ range .Pages }}
    {{if eq .Title "publications"}}
        <h3 id="sec-{{.Title}}" class="py-1">{{.Params.menu_name}}</h3>
    {{end}}
{{end}}

{{/*  Imprimo menu de navegacion de años  */}}
{{ $pubs := where .RegularPages "Section" "publications" }}
{{ $pubsSorted := $pubs.GroupByDate "2006"}}

<p>
    [ 
    {{ range $i, $p := $pubsSorted }}
        <a href="#p-y-{{.Key}}" class="social-links small">{{ .Key }}</a>
    {{ if ne (add $i 1) (len $pubsSorted) }}<b> • </b>{{ end }}
    {{ end }}
    ]
</p>

{{/*  Imprimo informacion de publicaciones */}}
<div>
{{range $pubsSorted}}
    <h6 id="p-y-{{.Key}}"><b>{{.Key}}</b></h6>
    <ul>
    {{range .Pages}}
        <li class="py-1">
            {{/*  Titulo  */}}
            <a href="{{.Params.links.venue}}" target="_blank"><b>{{ .Params.title }}.</b>
                <a class="social-links" href="{{.Permalink}}" alt="Ampliar">
                    <ion-icon name="move-sharp"></ion-icon>
                </a>
            </a><br>
            {{/*  Autores  */}}
            {{$authors := split .Params.authors ","}}
            {{ range $i,$a := $authors }}
                {{if in $a "Hernán" }}
                    <b>{{$a}}</b>
                {{else}}
                    {{$a}}
                {{end}}
                {{ if ne (add $i 1) (len $authors) }}, {{ end }}
            {{end }}.
            {{/* Venue */}}
            <i>{{ .Params.venue }}</i>.&nbsp;
            {{/*  Estado */}}
            {{ .Params.state }}.<br>
            {{/*  Enlaces  */}}
            <code align="left" >
                {{ if .Params.links.pdf }}
                    <a href="{{ .Params.links.pdf }}" target="_blank">[PDF]</a>&nbsp;
                {{ end }}
                {{ if .Params.links.slides }}
                    <a href="{{ .Params.links.slides }}" target="_blank">[Slides]</a>&nbsp;
                {{ end }}
                {{ if .Params.links.poster }}
                    <a href="{{ .Params.links.poster }}" target="_blank">[Poster]</a>&nbsp;
                {{ end }}
                {{ if .Params.links.video }}
                    <a href="{{ .Params.links.video }}" target="_blank">[Video]</a>&nbsp;
                {{ end }}
                {{ if .Params.links.code }}
                    <a href="{{ .Params.links.code }}" target="_blank">[Code]</a>&nbsp;
                {{ end }}
                {{ if .Params.links.demo }}
                    <a href="{{ .Params.links.demo }}" target="_blank">[Demo]</a>
                {{ end }}
            </code>
        </li>
    {{end}}
    </ul>
{{end}}
</div>